APP_NAME=aws-aurora-serverless
CDK_DEPLOY_REGION=ap-southeast-1
ENVIRONMENT=development

OWNER=OPENWORKSPACE

VPC_ID=vpc-0123456789abcdef0
VPC_SUBNET_TYPE=PRIVATE_WITH_EGRESS

AURORA_ENGINE=aurora-postgresql
SERVERLESS_V2_MAX_CAPACITY=5
SERVERLESS_V2_MIN_CAPACITY=0
RDS_USERNAME=root
RDS_PASSWORD=password
